.container {
  padding: 2rem;
  font-family: "Work Sans";
}

.navButton {
  margin-right: 1rem;
}

.section {
  margin-top: 2rem;
}

.button {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.filterButton {
  margin-left: 1rem;
}

.smallButton {
  margin-right: 1rem;
}

.largeButton {
  margin-left: 1rem;
}

.disabledButton {
  margin-right: 1rem;
}

.mixedButton {
  margin-right: 1rem;
} 