/* base.css */

@import "leaflet/dist/leaflet.css";

/* ===== Root Variables ===== */
:root {
  font-family: 'Work Sans', 'ASAP', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #333;
  background-color: #f6f9f8;
}

/* ===== Body and HTML ===== */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}


/* ===== Typography ===== */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ===== Links ===== */
a {
  text-decoration: inherit;
}


/* ===== Map ===== */
#map-wrapper {
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
}

/* ===== Reduced Motion ===== */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* ===== Animations ===== */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:focus {
  outline: none;
  border: 2px solid #3599b8;
  background-color: #fff9e6;
  box-shadow: 0 0 0 2px rgba(53, 153, 184, 0.2);
}
