.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  min-height: 0;
  min-width: 0;
}

.main {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  min-width: 0;
}

.mainNoScroll {
  overflow: hidden !important;
}