/* src/pages/TermsAndConditions.module.css */

.container {
  margin: 32px auto;
  padding: 0 16px;
  line-height: 1.6;
  color: #333;
}

h1 {
  font-size: 2rem !important;
  margin-bottom: .75rem;
  color: #265947;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  color: #1d4037;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
}

a {
  color: #3599b8;
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  h1 {
    font-size: 1.05rem;
  }

  h2 {
    font-size: 1.05rem;
  }
}
