.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.routeArea {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.usersLayout {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
